<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
  <title>{{ title }}</title>
  <style>
    #errorlist li {
      list-style-type: none;
      color:red;
    }

    #errorlist {
      padding-left: 0px;
    }

    table {
      margin-top: 15px;
      width: 800px;
    }

    tr:nth-child(odd) {
      background-color: grey;
    }

    th {
      background-color: black;
      color:white;
    }

    td > img {
      width: 50px;
    }
  </style>
</head>
<body>
  <h1>Book Title Search</h1>
  <form name="search" action="/search" method="get">
    <input type="text" name="query" value="{{ query }}"/>
    <input type="submit" value="Search" />
  </form>

  {% if errors|length > 0 %}
    <ul id="errorlist">
    {% for e in errors %}
      <li>{{ e }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if results|length > 0 %}

    {% if totalpages > 1 %}
      <span id="morepages">Page {{ currentpage }} of {{ totalpages }}</span>
      {% if currentpage != 1 %}
        <a href="/search?query={{ query | urlencode }}&page={{ currentpage - 1 }}">&lt;Previous</a>
      {% endif %}
      /
      {% if currentpage != totalpages %}
        <a href="/search?query={{ query | urlencode }}&page={{ currentpage + 1 }}">Next &gt;</a>
      {% endif %}
    {% endif %}

    <table id="searchresults">
      <thead>
        <th>Cover</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th></th>
      </thead>
      <tbody>
        {% for book in results %}
          <tr>
            <td>
              {% if book.volumeInfo.imageLinks and book.volumeInfo.imageLinks.smallThumbnail %}
                <img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="Book Cover Image for {{ book.volumeInfo.title }}" />
              {% endif %}
            </td>
            <td>{{ book.volumeInfo.title }} {{ book.volumeInfo.subtitle }}</td>
            <td>
              {% for a in book.volumeInfo.authors %}
                {{ a }}{{ ", " if not loop.last }}
              {% endfor %}
            </td>
            <td> {{ book.volumeInfo.publisher }}</td>
            <td><a href="{{ book.volumeInfo.previewLink }}" target="_blank">More Information...</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% elif query %}
    <span id="notfound">No books found for {{ query }}</span>
  {% endif %}


</body>
</html>
